$font_size_48: 48px;
$font_size_38: 38px;
$font_size_24: 24px;
$font_size_18: 18px;
$font_weight_600: 600;
$font_weight_500: 500;
$font_weight_400: 400;
$color_1: White;
$color_2: #ff9500;
$color_3: black;
$color_4: #4c4c4d;
$color_5: #262626;
$color_6: #000;
$color_7: #000000;
$font-family_1: "Be Vietnam Pro",
sans-serif;
$background-color_1: rgb(241, 241, 243);
$background-color_2: #ff9500;
$background-color_3: White;